.notificationMenu__closeBtn__dark {
    background: var(--colorWhite);
    color: var(--color06);
}

.notificationMenu__title__dark {
    background: var(--colorWhite);
    color: var(--color06);
}

.cartInfoCard__title__dark,
.couponInfoCard__title__dark {
    color: var(--colorWhite);
}

.cartInfoCard__cartItems__dark {
    background: var(--color06);
}

.cartInfoCard__cartItems__dark > p {
    color: var(--colorWhite);
}

.cartInfoCard__cartItems__dark > span {
    background: var(--colorWhite);
}

.cartInfoCard__cartItems__dark > span > p {
    color: var(--color06);
}

.cartInfoCard__basketLinkBtn__dark {
    background: var(--colorWhite);
    color: var(--color06);
}

.cartInfoCard__cartEmptyMessage__dark {
    background: var(--color06);
    color: var(--colorWhite);
}

.couponInfoCard__title__dark {
    color: var(--colorWhite);
}

.couponInfoCard__details__dark {
    background: var(--color06);
}

.couponInfoCard__details__discount__dark {
    background: var(--colorWhite);
}

.couponInfoCard__details__message__dark > p {
    color: var(--colorWhite);
}

.couponInfoCard__details__discount__dark > p {
    color: var(--color06);
}

.couponInfoCard__details__couponCode__dark > p {
    background: var(--colorBlack);
    color: var(--color07);
}

.couponInfoCard__details__couponCode__dark > button {
    background: var(--colorWhite);
    color: var(--color06);
}
