.couponMenu {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;

    width: 30vw;
    max-width: 537px;
    height: 100vh;
    max-height: 1080px;

    border-top: none;
    border-bottom: none;
    border-left: none;
    border-radius: unset;

    overflow: hidden;
    position: absolute;
    left: -478px;
}

.couponMenu__closeBtn {
    background-color: transparent;
    box-shadow: none;
}

.couponMenu__title {
    background: var(--backgroundGradient01);
    background-size: 200% 200%;
    -webkit-animation: gradient 8s ease infinite;
    animation: gradient 8s ease infinite;

    color: var(--colorWhite);

    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    min-height: 15%;
}

.couponMenu__title > h1 {
    color: var(--colorWhite);

    font-size: 40px;
    font-weight: 800;
    letter-spacing: 1px;
    text-transform: uppercase;

    z-index: 1;
}

.couponMenu__couponList {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    gap: 20px;

    width: 100%;
    max-height: 85%;

    margin: 0;
    padding: 25px 0;

    overflow-x: hidden;
    overflow-y: auto;
}

.couponMenu__couponList {
    display: grid;
    row-gap: 20px;
    place-content: flex-start;
    place-items: center;

    width: max-content;
    max-height: max-content;

    margin: 25px 0;
    padding: 0 10px;

    overflow-x: hidden;
    overflow-y: auto;
}

