@media screen and (max-width: 1280px) {
    .couponMenu__title > h1 {
        font-size: 30px;
    }
}

@media screen and (max-width: 900px) {
    .couponMenu {
        width: 400px;
        border: none;
    }

    .couponMenu__title > h1 {
        font-size: 30px;
    }
}