.categories {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    flex-shrink: 0;

    width: 100%;
    height: 380px;

    margin-top: 0;

    border-radius: var(--borderRadius1);
    box-shadow: var(--shadow_03);

    z-index: 80;
    position: relative;
    overflow: hidden;
}

.categories__HeadingContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-shrink: 0;

    width: 100%;
    height: calc(100% - 140px - 10px - 85px);

    margin: 0 0 0 0;
    padding: 0;

    overflow: hidden;
    position: relative;
}

.categories__HeadingContainer > h1 {
    width: 95%;
    height: max-content;

    padding: 0 0 0 0;
    margin: 0;

    font-size: 32px;
    font-weight: 300;
    text-align: left;
    text-transform: capitalize;

    z-index: 2;
}

.categories__HeadingContainer > p {
    width: 95%;
    height: max-content;

    padding: 0 0 0 0;
    margin: 10px 0 10px 0;

    font-size: 22px;
    font-weight: 300;
}

.categories__searchBoxContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;

    width: calc(100% - 20px);
    height: 70px;

    padding: 0 10px;
    margin: 5px 0;
}

.categories__searchBox {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-shrink: 0;

    width: 95%;
    height: 50px;

    border-radius: calc(50px / 2);

    overflow: hidden;
}

.categories__searchBox > input {
    background: transparent;

    width: calc(100% - 40px - 10px - 10px - 5px);
    height: 40px;

    padding: 0 0 0 10px;
    margin: 0;

    font-size: 14px;
    font-weight: 500;

    border: none;
    outline: none;
}

.categories__searchBox > button {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 40px;
    height: 40px;

    padding: 0;
    margin: 0 5px 0 10px;

    border: none;
    outline: none;
    border-radius: 50%;

    font-size: 14px;
    font-weight: 400;

    cursor: pointer;
}

.categories__optionContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;

    width: 100%;
    height: 140px;

    margin: 0;
    padding: 0;
}

.categories__optionContainerItems {
    display: grid;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    place-items: center;
    place-content: flex-start;

    width: calc(100% - 20px);
    height: 135px;

    padding: 0 10px 0 10px;
    margin: 0;

    z-index: 2;
    overflow: hidden;
    overflow-x: auto;
}

.categories__options {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-shrink: 0;

    width: 110px;
    height: 130px;

    cursor: pointer;

    overflow: hidden;
}

.categories__options__imageContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;

    width: 90px;
    height: 90px;

    border-radius: 50%;

    overflow: hidden;
}

.selectedCategory {
    background: var(--backgroundGradient10);
    background-size: 200% 200%;
    -webkit-animation: gradient 3s ease infinite;
    animation: gradient 3s ease infinite;
}

.unselectedCategory {
    background: var(--color04);
}

.categories__options__imageContainer > img {
    width: 90%;
    height: 90%;

    border-radius: 50%;
}

.categories__options__title {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 40px;

    padding: 0;
    margin: 0;

    font-size: 12px;
    font-weight: 600;
    text-transform: capitalize;
    text-align: center;
}

@media screen and (max-width: 1280px) {
    .categories {
        width: 100%;
        border-radius: unset;
    }
}

@media screen and (max-width: 900px) {
    .categories__HeadingContainer > h1 {
        font-size: 24px;
    }

    .categories__HeadingContainer > p {
        font-size: 16px;
    }
}

@media screen and (max-width: 700px) {
    .categories {
        height: 310px;
    }

    .categories__HeadingContainer {
        height: calc(100% - 135px - 60px - 10px);
    }

    .categories__searchBoxContainer {
        justify-content: center;
        height: 60px;
    }

    .categories__searchBox {
        width: 95%;
    }

    .categories__optionContainer {
        height: 135px;
    }

    .categories__optionContainerItems {
        height: 130px;
    }

    .categories__options {
        width: 85px;
        height: 130px;
    }

    .categories__options__imageContainer {
        width: 80px;
        height: 80px;
    }

    .categories__options__title {
        width: 100%;
        height: 30px;

        font-size: 10px;
    }
}

@media screen and (max-width: 415px) {
    .categories__HeadingContainer > h1 {
        font-size: 22px;
    }

    .categories__HeadingContainer > p {
        font-size: 14px;
    }
}

@media screen and (max-width: 375px) {
    .categories__HeadingContainer > h1 {
        font-size: 18px;
    }

    .categories__HeadingContainer > p {
        font-size: 12px;
    }
}