.categories {
    background-color: var(--color02);

    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;

    width: 100vw;
    height: 230px;

    margin-top: 0;

    box-shadow: var(--shadow_03);

    z-index: 10;
}

.categories__options {
    background-color: var(--color02);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    width: 150px;
    height: 150px;

    box-shadow: var(--shadow_02);

    transition: all 0.3s ease-in-out;
}

.categories__options:hover {
    background-size: 120% 120%;
}

.categories__optionName {
    background-color: transparent;
    color: var(--color07);

    width: 100%;
    height: 100%;

    margin: 0;
    padding: 5px;
    border: none;

    font-size: 14px;
    font-weight: 800;
    letter-spacing: 2px;
    text-transform: uppercase;

    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.categories__optionName:hover {
    background-color: var(--color10);
}