@media screen and (max-width: 1280px) {
    .categories {
        width: 100%;

        border-radius: unset;
    }
}

@media screen and (max-width: 900px) {
    .categories__HeadingContainer > h1 {
        font-size: 24px;
    }

    .categories__HeadingContainer > p {
        font-size: 16px;
    }
}

@media screen and (max-width: 700px) {
    .categories {
        height: 310px;
    }

    .categories__HeadingContainer {
        height: calc(100% - 135px - 60px - 10px);
    }

    .categories__searchBoxContainer {
        justify-content: center;
        height: 60px;
    }

    .categories__searchBox {
        width: 95%;
    }

    .categories__optionContainer {
        height: 135px;
    }

    .categories__optionContainerItems {
        height: 130px;
    }

    .categories__options {
        width: 85px;
        height: 130px;
    }

    .categories__options__imageContainer {
        width: 80px;
        height: 80px;
    }

    .categories__options__title {
        width: 100%;
        height: 30px;

        font-size: 10px;
    }
}

@media screen and (max-width: 415px) {
    .categories__HeadingContainer > h1 {
        font-size: 22px;
    }

    .categories__HeadingContainer > p {
        font-size: 14px;
    }
}

@media screen and (max-width: 375px) {
    .categories__HeadingContainer > h1 {
        font-size: 18px;
    }

    .categories__HeadingContainer > p {
        font-size: 12px;
    }
}