:root {
    /* Light Colors */
    --color01: #00bc00;
    --color02: #353535;
    --color03: #fd5757;
    --color04: #FAF0E6;
    --color05: #8ff2ff;
    --color06: #4D49FF;
    --color07: #23d5ab;
    --color08: #F0F9FF;
    --color09: #15ABFF;

    --specialMenuContainer01: #ffa578;
    --specialMenuContainer02: #0b0a32;

    --colorWhite: #FFFFFF;
    --colorBlack: #000000;

    --colorWhiteTransparent75: rgba(255, 255, 255, 0.75);
    --colorWhiteTransparent50: rgba(255, 255, 255, 0.5);
    --colorWhiteTransparent35: rgba(255, 255, 255, 0.35);

    --colorBlackTransparent75: rgba(0, 0, 0, 0.75);
    --colorBlackTransparent50: rgba(0, 0, 0, 0.5);
    --colorBlackTransparent35: rgba(0, 0, 0, 0.35);


    --shadow_01: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    --shadow_02: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    --shadow_03: rgba(0, 0, 0, 0.45) 0 25px 20px -20px;
    --shadow_04: 0 0 26px 4px rgba(0,0,0,0.5) inset;
    --shadow_05: rgb(38, 57, 77) 0px 20px 30px -10px;
    --shadow_06: 0 -6px 9px -3px rgba(0, 0, 0, 0.25);
    --shadow_07: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    --shadow_08: 0 8px 17px 0 rgba(23, 26, 31, 0.15), 0 0 2px 0 rgba(23, 26, 31, 0.12);

    --borderRadius1: 6px;
    --borderRadius2: 8px;

    --backgroundGradient01: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    --backgroundGradient02: linear-gradient(to right, #c6ffdd, #fbd786, #f7797d);
    --backgroundGradient03: linear-gradient(109.6deg, rgb(43, 1, 91) 13.4%, rgb(122, 2, 54) 100.2%);
    --backgroundGradient04: linear-gradient(45deg, #BF953F, #FCF6BA, #B38728, #FBF5B7, #AA771C);
    --backgroundGradient05: linear-gradient(225deg, #FFCCF1 5.7%, #CBFFF6 79.6%);
    --backgroundGradient06: linear-gradient(to right, #f83600 0%, #f9d423 100%);
    --backgroundGradient07: linear-gradient(to right, #141e30, #243b55);
    --backgroundGradient08: radial-gradient(926px at 2.7% 11%, rgb(17, 29, 94) 0%, rgb(178, 31, 102) 90%);
    --backgroundGradient09: linear-gradient(132deg, rgb(65, 80, 95) 0.00%, rgb(36, 37, 38) 100.00%);
    --backgroundGradient10: linear-gradient(90deg, rgb(2, 250, 70) -1.7%, rgb(2, 238, 250) 21.1%, rgb(174, 8, 237) 46%, rgb(237, 8, 117) 64.2%, rgb(237, 8, 117) 81%, rgb(248, 136, 0) 97.2%);
    --backgroundGradient11: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.75) 40%, rgba(0, 0, 0, 0.9) 80%);
}

.app {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;

    width: 100vw;
    height: 100vh;

    overflow: hidden;
    position: relative;
}

.app__light {
    background: var(--backgroundGradient05);
}

.app__dark {
    background: var(--backgroundGradient09);
}

.shade {
    display: none;

    width: 100%;
    height: 100%;

    overflow: hidden;
    position: absolute;
}

.darkGlass75 {
    background-color: var(--colorBlackTransparent75);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);

    border: 0.5px solid var(--colorBlackTransparent35);
    border-radius: var(--borderRadius1);

    box-shadow: var(--shadow_01);
}

.darkGlass50 {
    background-color: var(--colorBlackTransparent50);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);

    border: 0.5px solid var(--colorBlackTransparent35);
    border-radius: var(--borderRadius1);

    box-shadow: var(--shadow_01);
}

.darkGlass35 {
    background-color: var(--colorBlackTransparent35);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);

    border: 0.5px solid var(--colorBlackTransparent35);
    border-radius: var(--borderRadius1);

    box-shadow: var(--shadow_01);
}

.whiteGlass75 {
    background-color: var(--colorWhiteTransparent75);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);

    border: 0.5px solid var(--colorWhiteTransparent35);
    border-radius: var(--borderRadius1);

    box-shadow: var(--shadow_01);
}

.whiteGlass50 {
    background-color: var(--colorWhiteTransparent50);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);

    border: 0.5px solid var(--colorWhiteTransparent35);
    border-radius: var(--borderRadius1);

    box-shadow: var(--shadow_03);
}

.whiteGlass35 {
    background-color: var(--colorWhiteTransparent35);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);

    border: 0.5px solid var(--colorWhiteTransparent35);
    border-radius: var(--borderRadius1);

    box-shadow: var(--shadow_01);
}

.noScroll::-webkit-scrollbar {
    display: none;
}

@-webkit-keyframes gradient {
    0% {
        background-position: 0 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0 50%;
    }
}

@keyframes gradient {
    0% {
        background-position: 0 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0 50%;
    }
}

@media screen and (max-width: 900px) {
    .shade {
        display: block;
    }
}
