.paymentMenu {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;

    width: 30vw;
    height: 100vh;

    border-top: none;
    border-bottom: none;
    border-right: none;
    border-radius: 0;

    position: absolute;
    top: 0;
    right: 0;
}

.paymentMenu__closeBtn {
    background-color: transparent;
    color: var(--colorWhite);

    width: max-content;
    height: max-content;

    padding: 0 5px;

    border-radius: 0;

    font-size: 14px;
    font-weight: 500;
    letter-spacing: 1px;

    box-shadow: none;
}

.paymentMenu__processIndicator {
    background: var(--backgroundGradient07);

    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;

    width: 100%;
    height: 15%;

    margin: 0;

    position: relative;
}

.paymentMenu__processIndicator__process {
    color: var(--colorWhite);
    display: flex;
    align-items: center;
    justify-content: center;

    width: max-content;
    height: max-content;

    margin: 0;
    padding: 0;

    font-size: 22px;
    font-weight: 300;
    letter-spacing: 1px;
    text-transform: uppercase;

    z-index: 2;
}

.paymentMenu__processContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;

    width: 100%;
    height: 85%;

    margin: 0;
    padding: 0;

    overflow: hidden;
    position: relative;
}

.paymentMenu__process1,
.paymentMenu__process2,
.paymentMenu__process3 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;

    width: 90%;
    height: 70%;
    position: absolute;
}

.paymentMenu__process1__inputContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    width: 100%;
    height: max-content;

    overflow: hidden;
    position: relative;
}

.paymentMenu__process1__errorContainer {
    background-color: var(--colorWhite);
    color: var(--alertColor2);

    width: max-content;
    height: max-content;

    padding: 5px;
    margin: 0;

    border-radius: var(--borderRadius1);

    font-size: 14px;
    font-weight: 700;
    text-transform: lowercase;

    position: absolute;
    top: 10px;
    right: 10px;
}

.paymentMenu__process1__inputContainer > label {
    color: var(--colorWhite);

    width: 100%;
    height: max-content;

    margin: 0 0 10px 0;

    font-size: 22px;
    font-weight: 300;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.paymentMenu__process1__inputContainer > input[type="checkbox"] {
    display: none;
}

.paymentMenu__process1__inputContainer > input {
    background-color: transparent;
    color: var(--colorWhite);

    width: 98%;
    height: 26px;

    padding: 0 0 0 5px;
    margin: 0;

    border: none;
    border-bottom: 1px solid var(--baseColor);
    outline: none;

    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: unset;
}

.paymentMenu__process1__isFoodPack {
    background-color: transparent;
    color: var(--colorWhite);

    display: flex;
    align-items: center;
    justify-content: flex-start;

    max-height: 26px;
    max-width: 330px;

    padding: 10px 0 10px 10px;

    border: 1px solid var(--neonGreen);

    cursor: pointer;

    overflow: hidden;
    position: relative;
}

.isFoodPack__option {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 50px;
    height: 100%;

    font-size: 18px;
    font-weight: 300;

    position: absolute;
    right: 60px;
}

.isFoodPack__icon {
    position: absolute;
    right: 15px;
}

.paymentMenu__process1__submitBtn {
    background-color: var(--baseColor);
    color: var(--colorWhite);

    display: flex;
    align-items: center;
    justify-content: center;

    width: 100px;
    height: 40px;

    padding: 0;
    margin: 0;

    border: none;
    border-radius: calc(40px / 2);

    font-size: 14px;
    font-weight: 400;
    letter-spacing: 1px;
    text-transform: uppercase;

    cursor: pointer;
    overflow: hidden;
    position: relative;
}

.paymentMenu__process2 {
    height: 95%;
}

.paymentMenu__process2__heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;

    width: 100%;
    height: 10%;

    padding: 0;
    margin: 0;
}

.paymentMenu__process2__orderIdNumber {
    color: var(--colorWhite);

    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100%;

    margin: 0;
    padding: 0;

    font-size: 16px;
    font-weight: 500;
    letter-spacing: 2px;
}

.paymentMenu__process2__itemList {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;

    width: 100%;
    height: 55%;

    margin: 0 0 0 0;
    padding: 0;
}

.paymentMenu__process2__itemList__tableHead > table,
.paymentMenu__process2__itemList__tableItems > table {
    width: 100%;
    height: 100%;

    table-layout: fixed;
}

.paymentMenu__process2__itemList__tableHead {
    background-color: var(--colorWhiteTransparent50);

    height: 10%;

    box-shadow: var(--shadow_03);
}

.paymentMenu__process2__itemList__tableItems {
    height: max-content;

    margin-top: 0;

    overflow-x: auto;
}

.paymentMenu__process2__itemList__tableHead > table th {
    color: var(--colorWhite);

    padding: 5px;

    font-size: 14px;
    font-weight: 600;

    text-align: center;
    text-transform: uppercase;
}

.paymentMenu__process2__itemList__tableItems > table td {
    color: var(--colorWhite);

    padding: 10px 5px;

    font-size: 16px;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
}

.paymentMenu__process2__priceDetails {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    width: 100%;
    height: 25%;

    border-top: 1px solid var(--colorWhiteTransparent35);
    border-bottom: 1px solid var(--colorWhiteTransparent35);

}

.paymentMenu__process2__priceDetails__info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;

    width: 90%;
    height: max-content;

    margin: 0;
    padding: 0;

    border: none;
}

.paymentMenu__process2__priceDetails__info > p {
    color: var(--colorWhite);

    width: max-content;
    height: max-content;

    margin: 0 0 5px 0;
    padding: 5px;

    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1px;
}

.paymentMenu__process2__priceDetails__info > button {
    background: var(--backgroundGradient01);
    background-size: 200% 200%;
    -webkit-animation: gradient 8s ease infinite;
    animation: gradient 8s ease infinite;

    color: var(--colorWhite);

    padding: 5px;
    margin: 0;

    border: none;
    outline: none;
    border-radius: var(--borderRadius1);

    font-size: 12px;
    font-weight: 600;
    letter-spacing: 1px;

    cursor: pointer;
}

.paymentMenu__process2__btnContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;

    width: 100%;
    height: 10%;
}

.paymentMenu__process2__btnContainer__btnPay {
    width: 120px;
    height: 40px;

    padding: 0;
    margin: 0 10px;

    border-radius: calc(40px / 2);
    outline: none;

    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: uppercase;

    cursor: pointer;
}

.paymentMenu__process2__btnContainer__btnPay {
    background: var(--backgroundGradient03);
    background-size: 200% 200%;
    -webkit-animation: gradient 8s ease infinite;
    animation: gradient 8s ease infinite;

    color: var(--colorBlack);
    border: none;
}

.paymentMenu__process3 {
    color: var(--colorWhite);

    display: flex;
    align-items: center;
    justify-content: center;

    height: 95%;
}

