.couponCard {
    background: var(--colorWhite);
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    flex-shrink: 0;

    width: 370px;
    height: 225px;

    padding: 0;
    margin: 0;

    border-radius: var(--borderRadius1);
    box-shadow: var(--shadow_03);

    overflow: hidden;
    position: relative;
}

.couponCard__Shade {
    width: 100%;
    height: 100%;

    background: var(--colorWhiteTransparent75);
    overflow: hidden;
    cursor: not-allowed;
    position: absolute;
}

.couponCard__section01 {
    background: var(--color02);

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-shrink: 0;

    width: 40%;
    height: 100%;
}

.couponCard__section01__discountContainer {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;

    width: 100%;
}

.discountContainerOnProduct {
    height: 70%;
}

.couponCard__section01__discountContainer > p:nth-child(1) {
    width: 100%;
    height: max-content;

    padding: 10px 0;
    margin: 0;

    font-size: 18px;
    font-weight: 900;
    letter-spacing: 6px;
    text-align: center;
    text-transform: uppercase;
}

.couponCard__section01__discountContainer > p {
    color: var(--colorWhite);
}

.couponCard__section01__discountContainer > p:nth-child(2) {
    background: var(--backgroundGradient04);
    background-size: 500% 500%;
    -webkit-animation: gradient 2s ease 2s infinite forwards;
    animation: gradient 2s ease 2s infinite forwards;

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    width: 100%;
    height: max-content;

    padding: 0;
    margin: 0;

    font-size: 52px;
    font-weight: 900;
    text-align: center;
    text-transform: uppercase;
}

.couponCard__section01__discountContainer > p:nth-child(3) {
    width: 100%;
    height: max-content;

    padding: 10px 0;
    margin: 0;

    font-size: 22px;
    font-weight: 200;
    letter-spacing: 2px;
    text-align: center;
    text-transform: uppercase;
}

.discountContainerOnPurchase {
    height: 100%;
}

.couponCard__section01__couponCodeContainer {
    background: var(--backgroundGradient04);
    background-size: 500% 500%;
    -webkit-animation: gradient 2s ease 2s infinite forwards;
    animation: gradient 2s ease 2s infinite forwards;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;

    width: 100%;
    height: 30%;
}

.couponCard__section01__couponCodeContainer > p {
    color: var(--colorBlack);

    width: 100%;
    height: max-content;

    padding: 0;
    margin: 0;

    font-size: 18px;
    font-weight: 900;
    letter-spacing: 6px;
    text-align: center;
    text-transform: uppercase;
}

.couponCard__section02 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    flex-shrink: 0;

    width: 60%;
    height: 100%;
}

.couponCard__section02__title {
    width: 100%;
    height: max-content;

    padding: 10px 0;
    margin: 0;

    font-size: 18px;
    font-weight: 800;
    letter-spacing: 3px;
    text-align: center;
    text-transform: uppercase;
}

.couponCard__section02__validity {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-shrink: 0;

    width: 90%;
    height: 38px;

    border: 2px solid var(--color02);
    border-radius: var(--borderRadius1);
}

.couponCard__section02__validity__validTimer {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
    flex-shrink: 0;

    width: 80%;
    height: 100%;
}

.couponCard__section02__validity__validTimer > p {
    width: max-content;
    height: max-content;

    padding: 0;
    margin: 0;

    font-size: 16px;
    font-weight: 600;
    letter-spacing: 1px;
    text-align: center;
    text-transform: uppercase;
}

.couponCard__section02__validity__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;

    width: 20%;
    height: 100%;

    overflow: hidden;
}

.couponCard__section02__validity__icon > img {
    width: 70%;
    height: 70%;

    object-position: center;
    object-fit: contain;
}

.couponCard__section02__messageContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;

    width: calc(100% - 20px);
    height: max-content;

    padding: 5px 10px;
    margin: 0;
}

.couponCard__section02__messageContainer > p {
    color: var(--color02);

    padding: 0;
    margin: 0;

    font-size: 16px;
    font-weight: 300;
    text-align: center;
}

.couponCard__section02__btnContainer {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;

    width: 100%;
    height: 50px;
}

.couponCard__section02__btnContainer > button {
    background: var(--color02);
    color: var(--colorWhite);

    width: max-content;
    height: 32px;

    padding: 5px 10px;
    margin: 0;

    border: none;
    outline: none;
    border-radius: var(--borderRadius1);
    box-shadow: var(--shadow_01);

    font-size: 14px;
    font-weight: 600;

    cursor: pointer;
}

.couponCard__section02__couponCodeContainer {
    background: var(--backgroundGradient04);
    background-size: 500% 500%;
    -webkit-animation: gradient 2s ease 2s infinite forwards;
    animation: gradient 2s ease 2s infinite forwards;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;

    width: 120px;
    height: 32px;

    border-radius: var(--borderRadius1);
    box-shadow: var(--shadow_01);
}

.couponCard__section02__couponCodeContainer > p {
    color: var(--colorBlack);

    width: 100%;
    height: max-content;

    padding: 0;
    margin: 0;

    font-size: 14px;
    font-weight: 900;
    letter-spacing: 6px;
    text-align: center;
    text-transform: uppercase;
}
