.accountMenu__menu {
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;

    background-color: var(--color07);

    width: 200px;
    height: 250px;

    padding: 10px;
    border-radius: 5px;
    box-shadow: var(--shadow_03);

    position: absolute;
    top: calc(50vh - 250px / 2);
    right: calc(50vw - 200px / 2);

    transition: all 0.15s ease-in-out;
}

.openAccountMenu {
    display: flex;
}

.hideAccountMenu {
    display: none;
}

.accountMenu__menu__section01 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.accountMenu__menu__signInBtn {
    background-color: var(--color04);
    color: var(--color07);

    width: 150px;

    border: none;
    border-radius: 5px;
    outline: none;
    padding: 6px 0;
    margin: 5px 0;

    font-size: 16px;
    font-weight: 400;
    letter-spacing: 1px;

    cursor: pointer;
}

.accountMenu__menu__signInBtn:hover {
    text-decoration: underline;
}

.accountMenu__menu__signUpBtn {
    color: var(--color01);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;

    width: max-content;

    font-size: 14px;
    font-weight: 400;
}

.accountMenu__menu__signUpBtn > button {
    background-color: transparent;
    color: var(--color04);

    border: none;
    outline: none;
    padding: 0;
    margin: 0 0 0 5px;

    font-size: 14px;
    font-weight: 400;

    cursor: pointer;
}

.accountMenu__menu__signUpBtn > button:hover {
    text-decoration: underline;
    color: var(--color01);
}

.accountMenu__menu__section02 {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;

    width: 90%;

    margin: 10px 0 0 0;

    font-size: 12px;
    font-weight: 400;
}