.cartMenu {
    background-color: var(--color3);

    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;

    width: 35vw;
    height: 75vh;

    border-radius: var(--borderRadius1);

    transition: all 0.15s ease-in-out;

    position: absolute;
    top: calc((100vh - 75vh) / 2);
    left: calc((100vw - 35vw) / 2);
}

.cartMenuHide {
    display: none;
}

.cartMenuOpen {
    display: flex;
}

.cartMenu__title {
    color: var(--color1);

    display: flex;
    align-items: center;
    justify-content: flex-start;

    width: 90%;
    height: 5%;

    font-size: 18px;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.cartMenu__productList {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    column-gap: 10px;
    place-items: center;

    width: 90%;
    height: 80%;

    overflow-x: hidden;
    overflow-y: auto;
}

.cartMenu__productList::-webkit-scrollbar {
    display: none;
}

.cartMenu__productList__emptyMessage {
    color: var(--color1);

    font-size: 22px;
    font-weight: 300;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.cartMenu__subTotal {
    color: var(--color1);

    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;

    width: 90%;
    height: 5%;
}

.cartMenu__subTotal__subtext {
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.cartMenu__btn {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;

    width: 90%;
    height: 10%;
}

.cartMenu__btn > button {
    background-color: var(--color4);
    color: var(--color3);

    display: flex;
    align-items: center;
    justify-content: center;

    min-width: 200px;
    min-height: 20px;

    border: none;
    outline: none;
    border-radius: calc(16px + 10px);

    padding: 10px;
    margin: 0;

    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;

    cursor: pointer;
}

.cartMenu__btn__inActive {
    background-color: var(--color1);
    color: var(--color3);
}

.cartMenu__btn__active {
    background: var(--backgroundGradient02);
    background-size: 400% 400%;
    -webkit-animation: gradient 15s ease infinite;
    animation: gradient 15s ease infinite;
    color: var(--color3);

    cursor: not-allowed;
}

.cartMenu__btn > button > p {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;

    width: 100%;
    height: 100%;

    padding: 0 5px;
    margin: 0;

    text-transform: uppercase;
}

.cartMenu__btn > button:hover {
    text-decoration: underline;
}