.cartMenu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;

    width: 30vw;
    height: 100vh;

    border-top: none;
    border-bottom: none;
    border-right: none;
    border-radius: 0;

    position: absolute;
    top: 0;
    right: 0;
}

.cartMenuHide {
    display: flex;
}

.cartMenuOpen {
    display: flex;
}

.cartMenu__closeBtn {
    background-color: transparent;
    box-shadow: none;
}

.cartMenu__title {
    background: var(--backgroundGradient07);
    color: var(--colorWhite);

    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 15%;
}

.cartMenu__title > p {
    font-size: 22px;
    font-weight: 400;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.cartMenu__productList {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    column-gap: 10px;
    place-items: center;

    width: 90%;
    height: 75%;

    margin: 10px 0 10px 0;

    overflow-x: hidden;
    overflow-y: auto;
}

.cartMenu__productList__emptyMessage {
    color: var(--colorWhite);

    font-size: 24px;
    font-weight: 300;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.cartMenu__subTotal {
    background: var(--baseColor);
    color: var(--colorWhite);

    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;

    width: 100%;
    height: 5%;
}

.cartMenu__subTotal__subtext {
    margin: 0 10px 0 10px;

    font-size: 18px;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.cartMenu__btn {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;

    width: 100%;
    height: 10%;
}

.cartMenu__btn > button {
    background-color: transparent;
    color: var(--colorWhite);

    display: flex;
    align-items: center;
    justify-content: center;

    min-width: 200px;
    min-height: 20px;

    border: 1px solid var(--baseColor);
    outline: none;
    border-radius: 0;

    padding: 10px;
    margin: 0;

    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;

    cursor: pointer;
}

.cartMenu__btn > button > p {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;

    width: 100%;
    height: 100%;

    padding: 0 5px;
    margin: 0;

    text-transform: uppercase;
}

.cartMenu__btn > button:hover {
    background-color: var(--baseColor);
}