.shade {
    background-color: rgba(0, 0, 0, 0.75);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);

    width: 100vw;
    height: 100vh;

    position: absolute;
}

.hideShade {
    display: none;
}

.openShade {
    display: block;
}

.smallShade {
    width: 100vw;
    height: 50vh;

    position: absolute;
    z-index: 0;
}

.upperShade {
    background: var(--gradientUpper);
    top: 0;
}

.lowerShade {
    background: var(--gradientLower);
    bottom: 0;
}