.list {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    flex-shrink: 0;

    width: 1280px;

    height: calc(100vh - 70px);

    margin: 0 0 0 0;

    position: relative;
    z-index: 1;

    overflow-x: hidden;
    overflow-y: auto;
}

.list__routeContainer {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    flex-shrink: 0;

    width: 100%;
    height: 100%;
}

.list__productCardContainer {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    flex-shrink: 0;

    width: 1280px;
    height: max-content;
}

.list__productCardContainer__backBtnContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-shrink: 0;

    width: 100%;
    max-width: 1280px;
    height: 60px;
}

.list__productCardContainer__backBtnContainer > button {
    background: var(--colorWhite);
    color: var(--color02);

    width: 150px;
    height: 40px;

    border: none;
    outline: none;
    border-radius: var(--borderRadius1);
    box-shadow: var(--shadow_02);

    font-size: 18px;
    font-weight: 400;

    cursor: pointer;
}

.list__productCardList__categoryItemsList {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-shrink: 0;
    gap: 10px;

    width: 100%;
    height: max-content;

    margin: 10px 0;
}

.list__productCardList__categoryName {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    width: calc(100% - 10px);
    height: 44px;

    border-radius: var(--borderRadius2);
    box-shadow: var(--shadow_03);

    padding: 5px 0 5px 10px;
    margin: 10px 0;

    font-size: 24px;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: capitalize;
}

.list__productCardList,
.list__productCardList__itemsList {
    display: grid;
    grid-template-columns: repeat(5, 240px);
    column-gap: 20px;
    row-gap: 20px;
    place-items: center;
    place-content: center;
    flex-shrink: 0;

    width: 100%;
    height: max-content;

    padding: 20px 0;
    margin: 0;

    z-index: 2;
}