.list {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    flex-shrink: 0;

    width: 1280px;
    height: calc(100vh - 70px);

    margin: 0 0 0 0;

    position: relative;
    z-index: 1;

    overflow-x: hidden;
    overflow-y: auto;
}

.list__routeContainer {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    flex-shrink: 0;

    width: 100%;
    height: 100%;
}

.list__productCardContainer {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    flex-shrink: 0;

    width: 1280px;
    height: max-content;
}

.list__productCardList__categoryItemsList {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-shrink: 0;
    gap: 10px;

    width: 100%;
    height: max-content;

    margin: 10px 0;
}

.list__productCardList__categoryName {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    width: calc(100% - 10px);
    height: 44px;

    border-radius: var(--borderRadius2);
    box-shadow: var(--shadow_03);

    padding: 5px 0 5px 10px;
    margin: 10px 0;

    font-size: 24px;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: capitalize;
}

.list__productCardList,
.list__productCardList__itemsList {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    place-items: center;
    place-content: center;
    flex-shrink: 0;

    width: 100%;
    height: max-content;

    padding: 20px 0;
    margin: 0;

    z-index: 2;
}

@media screen and (max-width: 1280px) {
    .list {
        width: 100vw;
    }

    .list__productCardContainer {
        width: 95%;
    }

    .list__productCardList,
    .list__productCardList__itemsList {
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        column-gap: 10px;
        row-gap: 10px;
        place-items: center;
        place-content: flex-start;
    }
}

@media screen and (max-width: 900px) {
    .list {
        width: 100vw;
    }

    .list__productCardList,
    .list__productCardList__itemsList {
        place-items: center;
        place-content: center;
    }
}

@media screen and (max-width: 700px) {
    .list__productCardContainer {
        width: 100%;
        height: max-content;
    }

    .list__productCardList,
    .list__productCardList__itemsList {
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    }
}

@media screen and (max-width: 640px) {
    .list__productCardList,
    .list__productCardList__itemsList {
        grid-template-columns: repeat(2, 200px);
        column-gap: 15px;
        row-gap: 15px;
    }

    .list__productCardList__categoryName {
        width: 415px;
        height: 34px;

        font-size: 18px;
    }
}

@media screen and (max-width: 500px) {
    .list__productCardList,
    .list__productCardList__itemsList {
        grid-template-columns: repeat(2, 190px);
        column-gap: 10px;
        row-gap: 10px;
    }

    .list__productCardList__categoryName {
        width: 385px;
        height: 34px;

        font-size: 14px;
    }
}

@media screen and (max-width: 390px) {
    .list__productCardList,
    .list__productCardList__itemsList {
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
        column-gap: 10px;
        row-gap: 10px;
    }
    .list__productCardList__categoryName {
        width: 305px;
        height: 34px;

        font-size: 12px;
    }

}