@media screen and (max-width: 1280px) {
    .list {
        max-width: 1000px;
    }

    .list__productCardList {
        grid-template-columns: repeat(3, 240px);
    }
}

@media screen and (max-width: 900px) {
    .list {
        width: 100vw;
        max-width: 100%;
    }

    .list__title > h1 {
        color: var(--colorWhite);

        padding: 0;
        margin: 0;

        font-size: 22px;
        font-weight: 800;
        text-transform: uppercase;
    }

    .list__routeContainer {
        height: 100%;
    }

    .list__productCardList {
        grid-template-columns: repeat(3, 180px);
    }
}

@media screen and (max-width: 590px) {
    .list__productCardList {
        grid-template-columns: repeat(2, 180px);
    }
}

@media screen and (max-width: 370px) {
    .list__productCardList {
        grid-template-columns: repeat(2, 155px);
        column-gap: 15px;
        row-gap: 15px;
    }
}