@media screen and (max-width: 1280px) {
    .list {
        width: 100vw;
    }

    .list__productCardContainer {
        width: 95%;
    }

    .list__productCardList,
    .list__productCardList__itemsList {
        grid-template-columns: repeat(auto-fill, 200px);
        column-gap: 10px;
        row-gap: 10px;
        place-items: center;
        place-content: flex-start;
    }
}

@media screen and (max-width: 900px) {
    .list {
        width: 100vw;
    }

    .list__productCardList,
    .list__productCardList__itemsList {
        place-items: center;
        place-content: center;
    }
}

@media screen and (max-width: 700px) {
    .list__productCardContainer {
        width: 100%;
        height: max-content;
    }

    .list__productCardList,
    .list__productCardList__itemsList {
        grid-template-columns: repeat(3, 200px);
    }
}

@media screen and (max-width: 640px) {
    .list__productCardList,
    .list__productCardList__itemsList {
        grid-template-columns: repeat(2, 200px);
        column-gap: 15px;
        row-gap: 15px;
    }

    .list__productCardList__categoryName {
        width: 415px;
        height: 34px;

        font-size: 18px;
    }
}

@media screen and (max-width: 500px) {
    .list__productCardList,
    .list__productCardList__itemsList {
        grid-template-columns: repeat(2, 190px);
        column-gap: 10px;
        row-gap: 10px;
    }

    .list__productCardList__categoryName {
        width: 385px;
        height: 34px;

        font-size: 14px;
    }
}

@media screen and (max-width: 390px) {
    .list__productCardList,
    .list__productCardList__itemsList {
        grid-template-columns: repeat(2, 150px);
        column-gap: 10px;
        row-gap: 10px;
    }
    .list__productCardList__categoryName {
        width: 305px;
        height: 34px;

        font-size: 12px;
    }

}