@media screen and (max-width: 1280px) {
    .list {
        max-width: 1000px;
    }

    .list__productCardContainer {
        width: max-content;
    }

    .list__productCardList {
        grid-template-columns: repeat(3, 240px);
    }
}

@media screen and (max-width: 900px) {
    .list {
        width: 100vw;
        max-width: 100%;
    }

    .list__productCardList {
        grid-template-columns: repeat(3, 180px);
    }
}

@media screen and (max-width: 700px) {
    .list__productCardContainer {
        width: max-content;
        height: calc(100% - 310px);
    }

    .list__productCardList {
        grid-template-columns: repeat(3, 180px);
    }
}

@media screen and (max-width: 590px) {
    .list__productCardList {
        grid-template-columns: repeat(2, 180px);
        column-gap: 15px;
        row-gap: 15px;
    }
}