.payment {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    flex-shrink: 0;

    width: 100vw;
    max-width: 1280px;

    height: calc(100vh - 70px);

    margin: 0 0 0 0;

    position: relative;
    z-index: 1;

    overflow-x: hidden;
    overflow-y: auto;
}

.payment__processContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    flex-shrink: 0;

    width: 45%;
    height: 700px;
    min-height: 700px;

    position: relative;
}

.payment__process__title {
    background: var(--backgroundGradient07);

    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-shrink: 0;

    width: calc(100% - 10px);
    height: 15%;

    padding: 0 0 0 10px;
}

.payment__process__title > h2 {
    color: var(--colorWhite);

    padding: 0;
    margin: 0;

    font-size: 26px;
    font-weight: 100;
    letter-spacing: 1px;
}

.payment__process__title > img {
    width: 26px;
    height: 26px;

    margin: 0 0 0 10px;
}