.payment {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    flex-shrink: 0;

    width: 100vw;
    max-width: 1100px;

    height: 100vh;

    margin: 0 0 0 0;

    position: relative;
    z-index: 1;

    overflow-x: hidden;
    overflow-y: auto;
}

.payment__info,
.payment__review {
    background: var(--colorWhite);

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-shrink: 0;

    width: calc(500px - 25px);
    height: calc(562px - 25px);

    padding: 25px;

    border-radius: var(--borderRadius2);
    box-shadow: var(--shadow_08);

    position: relative;
}

.payment__info__title {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    width: 100%;
    height: 40px;

    font-size: 26px;
    font-style: normal;
    font-weight: 400;
}

.payment__info__errorContainer {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    flex-shrink: 0;

    width: 200px;
    height: max-content;

    position: absolute;
    top: 10px;
    right: 10px;
}

.payment__info__errorContainer > p {
    color: var(--color03);

    width: 100%;
    height: max-content;

    padding: 0;
    margin: 1px 0;

    font-size: 12px;
    font-weight: 600;
    text-transform: lowercase;
    text-align: right;
}

.payment__info__form {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    flex-shrink: 0;

    width: 100%;
    height: calc(100% - 40px);

    padding: 0;
    margin: 0;
}

.payment__info__inputComponent {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-shrink: 0;

    width: 100%;
    height: max-content;

    margin: 10px 0 0 0;
}

.payment__info__inputComponent > label {
    color: var(--colorBlack);

    width: 100%;
    height: max-content;

    font-size: 16px;
    font-weight: 600;
    text-transform: capitalize;
}

.payment__info__inputComponent > input {
    color: var(--colorBlack);

    width: calc(100% - 10px);
    height: 42px;

    padding: 0 0 0 10px;
    margin: 10px 0 0 0;

    border: 1px solid var(--colorBlackTransparent50);
    outline: none;

    border-radius: var(--borderRadius1);

    font-size: 18px;
    font-weight: 400;
}

.payment__info__inputComponent > input::placeholder {
    color: var(--colorBlack);

    font-size: 14px;
    font-weight: 300;
    text-transform: lowercase;
}

.payment__info__form__btnContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    flex-shrink: 0;

    width: 100%;
    height: max-content;

    margin: 10px 0;
    padding: 0 0;
}

.payment__info__form__btnCancel,
.payment__info__form__btnSubmit {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 50px;

    border: none;
    outline: none;
    border-radius: var(--borderRadius1);

    padding: 0;

    font-size: 18px;
    font-weight: 300;
    text-transform: lowercase;

    cursor: pointer;
}

.payment__info__form__btnSubmit {
    background: var(--color06);
    color: var(--colorWhite);

    width: calc(70% - 10px);
    margin: 0 0 0 10px;
}

.payment__info__form__btnCancel {
    background: var(--color03);
    color: var(--colorWhite);

    width: 30%;
    margin: 0 0 0 0;
}

.payment__review {
    justify-content: space-between;
}

.payment__review__btnPay {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;

    width: 100%;
    height: 50px;

    border: none;
    outline: none;
    border-radius: var(--borderRadius1);

    padding: 0;
    margin: 0 0 0 0;

    font-size: 18px;
    font-weight: 400;
    text-transform: capitalize;
}

.payment__review__btnPay__enabled {
    background: var(--color06);
    color: var(--colorWhite);

    cursor: pointer;
}


.payment__review__btnPay__disabled {
    background: var(--color04);
    color: var(--colorBlackTransparent50);

    cursor: not-allowed;
}

.payment__review__agreement {
    color: var(--colorBlack);

    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: max-content;

    font-size: 18px;
    font-weight: 300;
    text-align: justify;
}

.payment__separator {
    width: 100%;
    height: max-content;

    border-bottom: 1px solid var(--colorBlackTransparent50);
}

.payment__review__orderSummary__title {
    color: var(--colorBlack);

    width: 100%;
    height: max-content;

    padding: 0;
    margin: 0;

    font-size: 24px;
    font-weight: 300;
    text-transform: capitalize;
    text-align: left;
}

.payment__review__orderSummaryContainer,
.payment__review__orderTotal {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    flex-shrink: 0;

    width: 100%;
    height: max-content;
}

.payment__review__orderSummaryContainer > p {
    width: max-content;
    height: max-content;

    padding: 0;
    margin: 5px 0;

    font-size: 18px;
    font-weight: 400;
    text-transform: capitalize;
}

.payment__review__orderTotal > p {
    width: max-content;
    height: max-content;

    padding: 0;
    margin: 0;

    font-size: 24px;
    font-weight: 400;
    text-transform: capitalize;
}