.productCard {
    background-color: var(--color02);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;

    width: 495px;
    height: 490px;

    box-shadow: var(--shadow_02);

    overflow: hidden;
    position: relative;
    z-index: 10;
}

.productCard:hover {
    background-size: 110% 110%;
}

.productCard__productName,
.productCard__productPrice {
    margin: 0;

    text-align: center;
    text-transform: uppercase;
}

.productCard__productName {
    background-color: var(--color03);
    color: var(--color01);

    width: 100%;
    height: max-content;

    padding: 10px;

    border-radius: 0 calc(52px / 2) calc(52px / 2) 0;
    box-shadow: var(--shadow_02);

    font-size: 18px;
    font-weight: 500;
    letter-spacing: 2px;
    text-align: left;

    position: absolute;
    bottom: 40px;
    left: 0;
}

.productCard__productPrice {
    background-color: var(--color01);
    color: var(--color02);

    display: flex;
    align-items: center;
    justify-content: center;

    width: 70px;
    height: 70px;

    padding: 10px;

    border: none;
    border-radius: 50%;
    box-shadow: var(--shadow_01);

    font-size: 26px;
    font-weight: 600;
    letter-spacing: 2px;
    text-align: center;

    position: absolute;
    bottom: 20px;
    right: 20px;
}

.productCard__addToCard {
    background-color: var(--color05);
    color: var(--color07);

    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;

    width: 110px;
    height: max-content;

    padding: 5px 0;

    border: none;
    border-radius: 0 0 10px 10px;
    box-shadow: var(--shadow_02);

    font-size: 14px;
    font-weight: 600;
    letter-spacing: 2px;
    text-transform: uppercase;

    cursor: pointer;

    position: absolute;
    left: 30px;

    transition: all 0.15s ease-in-out;
}

.productCard__addToCard:hover {
    background-color: var(--color12);
}

.productCard__addToCard__hide {
    top: -60px;
}

.productCard__addToCard__show {
    top: 0;
}