.productCardList {
    background-color: var(--colorWhite);

    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;

    width: 90%;
    height: 150px;

    margin: 10px 0;

    border-radius: var(--borderRadius1);
    box-shadow: var(--shadow_03);

    overflow: hidden;
    position: relative;
}

.productCardList__removeBtn {
    background-color: var(--colorWhite);
    color: var(--color6);

    display: flex;
    align-items: center;
    justify-content: center;

    width: max-content;
    height: max-content;

    padding: 5px;
    margin: 0;

    border: 1px solid var(--color6);
    border-left: none;
    border-radius: 0 5px 5px 0;
    box-shadow: var(--shadow_01);

    font-size: 12px;
    font-weight: 600;
    text-transform: lowercase;

    cursor: pointer;

    position: absolute;
    top: 15px;
    left: 0;

    transition: all 0.2s ease-in-out;
}

.productCardList__removeBtn:hover {
    background-color: var(--color6);
    color: var(--colorWhite);
}


.productCardList__info {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    flex: 1;

    height: 100%;

    overflow: hidden;
}

.productCardList__info__productName {
    color: var(--color1Dark);

    display: flex;
    align-items: center;
    justify-content: flex-start;

    width: 100%;
    height: 50%;

    padding: 0 0 0 20px;

    font-size: 18px;
    font-weight: 600;
}

.productCardList__info__price {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;

    width: 100%;
    height: 50%;
}

.productCardList__info__price__productPrice,
.productCardList__info__price__productPriceTotal {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    width: 50%;
    height: 100%;

    padding: 0 0 0 10px;

    text-align: left;
    font-weight: 600;
}

.productCardList__info__price__productPrice {
    width: 30%;
    font-size: 24px;
    font-weight: 600;
}

.productCardList__info__price__productPriceTotal {
    width: 70%;
    font-size: 16px;
    font-weight: 600;
}

.productCardList__QtyBtn {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;

    width: 80px;
    height: 100%;
}

.productCardList__QtyBtn__Quantity {
    color: var(--color1Dark);

    display: flex;
    align-items: center;
    justify-content: center;

    width: 30px;
    height: 30px;

    border: 1px solid var(--color1Dark);

    font-size: 18px;
    font-weight: 600;
}

.productCardList__QtyBtn__btn {
    background-color: var(--color1Dark);
    color: var(--color02);

    display: flex;
    align-items: center;
    justify-content: center;

    width: 30px;
    height: 30px;

    padding: 10px;
    margin: 0;

    border: none;
    border-radius: 50%;
    box-shadow: var(--shadow_01);

    font-size: 18px;
    font-weight: 600;

    transition: all 0.2s ease-in-out;
}

.productCardList__QtyBtn__btn:hover {
    background-color: var(--color5);
    color: var(--color1);
}