.cart__productInfo__dark {
    background: var(--color02);
}

.cart__productInfo__section01__dark {
    background: var(--colorWhite);
}

.cart__productInfo__section02__dark {
    color: var(--colorWhite);
}