@media screen and (max-width: 1280px) {
    .cart__productInfo {
        width: 405px;
    }
}

@media screen and (max-width: 900px) {
}

@media screen and (max-width: 590px) {
    .cart__productInfo {
        width: 90%;
    }

    .cart__productInfo__section01__infoContainer__productName {
        width: 45%;
    }

    .cart__productInfo__section01__infoContainer__productPrice {
        width: 45%;
    }

    .cart__productInfo__section01__infoContainer__productPrice > p > small {
        font-size: 10px;
    }

    .cart__productInfo__section02 {
        height: 86px;
    }

    .cart__productInfo__section02__optionContainer > p {
        font-size: 11px;
        font-weight: 500;
    }

    .cart__productInfo__section03__btn {
        width: 45%;
        height: 28px;

        font-size: 11px;
    }

    .closeType {
        background: var(--color03);
        color: var(--colorWhite);
    }
}

@media screen and (max-width: 390px) {

}