.categoriesTabSmall {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
    flex-shrink: 0;

    width: 90%;
    max-width: 1020px;
    height: max-content;

    margin: 0;
    padding: 10px 0;

    z-index: 3;

    overflow: hidden;
    position: relative;
}

.categoriesTabSmall__collapseBtn {
    background: var(--colorWhite);

    display: flex;
    align-items: center;
    justify-content: center;

    width: 40px;
    height: 40px;

    margin: 0 0 0 0;
    padding: 0;

    border: none;
    outline: none;
    border-radius: var(--borderRadius2);
    box-shadow: var(--shadow_01);

    cursor: pointer;

    z-index: 5;
}

.categoriesTabSmall__collapseBtn > img {
    width: 70%;
    height: 70%;

    transform: rotate(90deg);
}

.categoriesTabSmall__categoriesList {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    flex-shrink: 0;

    width: calc(100% - 50px - 10px);
    height: 50px;

    padding: 5px 0;

    overflow: hidden;
}

.categoriesTabSmall__optionContainer {
    background: var(--colorWhite);

    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    flex-shrink: 0;

    width: 120px;
    height: 40px;

    padding: 0;
    margin: 5px 10px 5px 0;

    border: none;
    outline: none;

    border-radius: var(--borderRadius1);
    box-shadow: var(--shadow_01);

    cursor: pointer;

    overflow: hidden;
}

.categoriesTabSmall__optionContainer__optionName {
    display: flex;
    align-items: center;
    justify-content: center;

    width: calc(100% - 20px);
    height: 100%;

    margin: 0;
    padding: 0 10px;

    font-size: 14px;
    font-weight: 400;
}