.categoriesTabSmall {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    flex-shrink: 0;

    width: 90%;
    height: 60px;

    margin: 0;
    padding: 0;

    overflow: hidden;
    overflow-x: auto;

    z-index: 3;
}

.categoriesTabSmall__optionContainer {
    background: var(--colorWhite);

    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    flex-shrink: 0;

    width: max-content;
    max-width: 240px;
    height: 40px;

    padding: 0;
    margin: 0 10px 0 0;

    border: none;
    outline: none;

    border-radius: var(--borderRadius1);
    box-shadow: var(--shadow_01);

    cursor: pointer;

    overflow: hidden;
}

.specialMenu01 {
    background: var(--backgroundGradient01);
    background-size: 200% 200%;
    -webkit-animation: gradient 2s ease infinite;
    animation: gradient 2s ease infinite;
}

.specialMenu02 {
    background: var(--backgroundGradient01);
    background-size: 200% 200%;
    -webkit-animation: gradient 2s ease infinite;
    animation: gradient 2s ease infinite;
}

.specialMenu01 > p,
.specialMenu02 > p {
    color: var(--colorWhite);
}

.categoriesTabSmall__optionContainer__imageContainer {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 40px;
    height: 40px;

    margin: 0;
    padding: 0;

    overflow: hidden;
}

.categoriesTabSmall__optionContainer__imageContainer > img {
    width: 100%;
    height: 100%;

    object-fit: cover;
    object-position: center;
}

.categoriesTabSmall__optionContainer__optionName {
    display: flex;
    align-items: center;
    justify-content: center;

    width: max-content;
    height: 100%;

    margin: 0;
    padding: 0 10px;

    font-size: 14px;
    font-weight: 700;
}