.categoriesTabSmall__collapseBtn__dark {
    background: var(--color06);
}

.categoriesTabSmall__optionContainer__dark {
    background: var(--color06);
}

.categoriesTabSmall__optionContainer__optionName__dark {
    color: var(--colorWhite);
}