@media screen and (max-width: 1280px) {
    .categoriesTabSmall {
        justify-content: flex-start;

        width: 90%;
        max-width: 760px;
        height: max-content;

        padding: 0;

        overflow: hidden;
    }
}

@media screen and (max-width: 900px) {
    .categoriesTabSmall {
        max-width: 580px;
        height: 60px;
    }

    .categoriesTabSmall__scrollBtn {
        display: none;
    }

    .categoriesTabSmall__categoriesList {
        display: flex;
        flex-wrap: unset;
        align-items: center;
        justify-content: flex-start;
        flex-direction: row;

        width: 100%;
        height: 100% !important;

        padding: 0 10px 0 0;

        overflow: hidden;
        overflow-x: auto;
    }

    .categoriesTabSmall__optionContainer {
        margin: 0 10px 0 0;
    }
}

@media screen and (max-width: 590px) {
    .categoriesTabSmall {
        max-width: 380px;
    }
}