.home__section-01__subtitle__dark {
    color: var(--colorWhite);
}

.home__section-01__title__dark {
    color: var(--colorWhite);
}

.home__specialProductList__title__dark {
    color: var(--colorWhite);
}
