.home {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    flex-shrink: 0;

    width: 100vw;
    max-width: 1920px;
    height: calc(100vh - 70px);
    max-height: 1080px;

    margin: 0 0 15px 0;
    z-index: 1;

    overflow-x: hidden;
    overflow-y: auto;
}

.home::-webkit-scrollbar {
    display: none;
}

.home__section-01 {
    /*background-image: url("../../assets/background/cover03.jpg");*/
    /*background-size: cover;*/
    /*background-repeat: no-repeat;*/
    /*background-position: center;*/

    background-color: var(--colorWhite);

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-shrink: 0;

    width: 100%;
    height: 300px;

    position: relative;
    overflow: hidden;
}

.home__section-01__info {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-shrink: 0;

    width: 1200px;
    height: 100%;

    z-index: 2;
}

.home__section-01__subtitle {
    color: var(--colorBlack);

    width: 90%;
    height: max-content;

    padding: 0;
    margin: 5px 0;

    font-size: 42px;
    font-weight: 100;
    text-align: center;
    text-transform: uppercase;
}

.home__section-01__title {
    color: var(--themeColor01);

    display: flex;
    align-items: center;
    justify-content: center;

    width: 90%;
    height: max-content;

    padding: 10px;
    margin: 0;

    font-size: 82px;
    font-weight: 900;
    text-align: center;
    text-transform: uppercase;
}

.home__section-02 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;

    width: 1200px;
    max-height: max-content;

    margin: 0 0;

    position: relative;
}

.home__section-02__container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-shrink: 0;

    width: 100%;
    height: 100%;
}

.home__section-02__container__topOrders,
.home__section-02__container__specialSection {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    width: 100%;
    height: max-content;

    margin: 0 0 0 0;
    padding: 0 0 0 0;
}

.home__section-02__container__title {
    color: var(--colorBlack);

    width: 100%;
    height: 25px;

    padding: 0 0 0 0;
    margin: 20px 0 20px 0;

    font-size: 22px;
    font-weight: 700;
}

.home__section-02__container__topOrders__productList {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    column-gap: 20px;
    place-items: center;
    place-content: flex-start;

    width: calc(100% - 50px);
    min-height: 270px;
    height: max-content;

    padding: 25px;

    overflow-x: auto;
}

.home__section-02__container__specialSection__list {
    display: grid;
    column-gap: 20px;
    place-items: center;
    place-content: flex-start;
    flex-shrink: 0;

    width: calc(100% - 50px);
    height: 210px;

    margin: 0;
    padding: 25px;

    overflow-x: auto;
}

.home__section-02__container__specialSection__listItems {
    background: var(--backgroundGradient01);
    color: var(--colorBlack);

    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;

    width: 280px;
    height: 200px;

    margin: 0 0 0 0;
    padding: 0 0 0 0;

    border-radius: var(--borderRadius1);
    box-shadow: var(--shadow_02);
}