.home {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;

    width: 100vw;
    height: 800px;

    margin: var(--top01) 0;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.home__section-01 {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;

    width: 40%;
    height: 100%;
}

.home__section-01__info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;

    width: 100%;
    height: max-content;
}

.home__section-01__subtitle {
    color: var(--neonGreen);

    width: 90%;
    height: max-content;

    padding: 0;
    margin: 5px 0;

    font-size: 82px;
    font-weight: 100;
    letter-spacing: 4px;
    text-align: left;
    text-transform: uppercase;
}

.home__section-01__title {
    background: var(--backgroundGradient07);
    background-size: 200% 200%;
    -webkit-animation: gradient 5s ease infinite;
    animation: gradient 5s ease infinite;

    color: var(--masterColor);

    display: flex;
    align-items: center;
    justify-content: center;

    width: 90%;
    height: max-content;

    padding: 0;
    margin: 0;

    font-size: 72px;
    font-weight: 100;
    letter-spacing: 14px;
    text-align: left;
    text-transform: uppercase;
}

.home__section-01__article {
    color: var(--masterColor);

    display: flex;
    align-items: center;
    justify-content: center;

    width: 90%;
    height: max-content;

    padding: 0;
    margin: 20px 0 20px 0;

    font-size: 18px;
    font-weight: 300;
    letter-spacing: 2px;
    text-transform: lowercase;
}

.home__section-01__contactInfo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;

    width: 90%;
    height: max-content;

    margin: 15px 0;
}

.home__section-01__contactInfo__contact {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;

    width: 50%;
}

.home__section-01__contactInfo__contact > p {
    color: var(--colorWhite);

    font-size: 18px;
    font-weight: 400;
    letter-spacing: 2px;

}

.home__section-01__contactInfo__socialMediaLink {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;

    width: 30%;
}

.home__loadingScreen {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100%;

    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}

.home__section-02 {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 50%;
    height: 100%;

    position: relative;
}

.home__section-02__container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;

    width: 100%;
    height: 100%;
}

.home__section-02__title {
    color: var(--colorWhite);

    width: 95%;
    height: 40px;

    margin: 10px 0;

    font-size: 36px;
    font-weight: 300;
    letter-spacing: 1px;
}

.home__section-02__container__topOrders {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    width: 95%;
    height: max-content;
}

.home__section-02__container__topOrders__title {
    color: var(--colorWhite);

    width: 100%;
    height: 25px;

    font-size: 22px;
    font-weight: 300;
    letter-spacing: 1px;
}

.home__section-02__container__topOrders__productList {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;

    width: 100%;
    height: max-content;
}
