.home__section-01__subtitle__light {
    color: var(--color02);
}

.home__section-01__title__light {
    color: var(--color02);
}

.home__specialProductList__title__light {
    color: var(--colorBlack);
}