@media screen and (max-width: 1280px) {
    .home {
        width: 100vw;
    }

    .home__section-01__info {
        width: 90%;
    }

    .home__section-01__subtitle {
        width: 90%;
        height: max-content;

        padding: 0;
        margin: 2.5px 0;

        font-size: 2.65vw;
    }

    .home__section-01__title {
        width: 90%;
        height: max-content;

        padding: 5px;
        margin: 0;

        font-size: 5.25vw;
    }

    .home__section-02 {
        max-width: 800px;
        width: 90%;

        margin: 5px 0;
    }

    .home__specialProductList {
        width: 100%;
        height: max-content;
    }

    .home__specialProductList__title {
        font-size: 22px;
    }
}

@media screen and (max-width: 1000px) {
    .home {
        width: 100vw;
    }

    .home__section-01 {
        height: 400px;
    }

    .home__section-02 {
        max-width: 90%;
        width: 90%;
    }

    .home__section-01__info {
        width: 100%;
    }

    .home__section-01__subtitle {
        font-size: 22px;
    }

    .home__section-01__title {
        font-size: 34px;
    }

    .home__specialProductList__list__nextBtn,
    .home__specialProductList__list__prevBtn {
        display: none;
    }

    .home__specialProductList {
        width: 100%;
    }

    .home__specialProductList__title {
        font-size: 24px;
    }

}

@media screen and (max-width: 590px) {
    .home__section-01 {
        height: 350px;
    }


    .home__section-02 {
        min-width: 100%;
        max-width: 100%;
    }

    .home__specialProductList {
        width: 100%;
        height: max-content;

        overflow: unset;
    }

    .home__specialProductList__title {
        width: calc(100% - 20px);
        text-align: left;
    }

    .home__specialProductList__list {
        grid-template-columns: repeat(6, 1fr);
        column-gap: 15px;
        row-gap: 15px;

        width: calc(100% - 10px - 40px);

        padding: 10px 10px 10px 30px;
        margin: 0 0 0 0;

        overflow-x: unset;
    }
}