@media screen and (max-width: 1280px) {
    .home {
        width: 100vw;
    }

    .home__section-01__info {
        width: 90%;
    }

    .home__section-01__subtitle {
        width: 90%;
        height: max-content;

        padding: 0;
        margin: 2.5px 0;

        font-size: 2.65vw;
    }

    .home__section-01__title {
        width: 90%;
        height: max-content;

        padding: 5px;
        margin: 0;

        font-size: 5.25vw;
    }

    .home__section-02 {
        max-width: 800px;
        width: 90%;

        margin: 5px 0;
    }

    .home__specialProductList {
        width: 100%;
    }

    .home__specialProductList__title {
        font-size: 22px;
    }
}

@media screen and (max-width: 1000px) {
    .home {
        width: 100vw;
    }

    .home__section-01 {
        height: 400px;
    }

    .home__section-02 {
        max-width: 90%;
        width: 90%;
    }

    .home__section-01__info {
        width: 100%;
    }

    .home__section-01__subtitle {
        font-size: 22px;
    }

    .home__section-01__title {
        font-size: 34px;
    }

    .home__specialProductList__list__nextBtn,
    .home__specialProductList__list__prevBtn {
        display: none;
    }

    .home__specialProductList {
        width: 100%;
    }

    .home__specialProductList__title {
        font-size: 24px;
    }

    .bannerSize__medium {
        width: 95%;
        height: calc(420px * 0.8);
    }

    .bannerSize__large {
        width: 95%;
        height: calc(560px * 0.8);
    }

    .home__banner__title {
        font-size: calc(32px * 0.7);
    }

    .home__banner__message,
    .home__banner__discount {
        height: calc(60px * 0.7);
    }

    .home__banner__message > p {
       font-size: calc(18px * 0.7);
        font-weight: 600;
        letter-spacing: 1px;
    }

    .home__banner__discount {
        height: calc(40px * 0.7);
    }

    .home__banner__discount > p {
        font-size: calc(22px * 0.7);
        font-weight: 800;
        letter-spacing: 2px;
    }

    .home__banner__timer {
        margin: calc(10px * 0.7) 0;
    }

    .home__banner__timer > p {
        margin: 0 0 calc(10px * 0.7) 0;

        font-size: calc(18px * 0.7);
        letter-spacing: 0;
    }

    .home__banner__timer__validTimer > p {
        font-size: calc(22px * 0.7);
        letter-spacing: 1px;
    }

    .home__banner__linkBtn {
        width: calc(120px * 0.7);
        height: calc(30px * 0.7);

        font-size: calc(14px * 0.7);
        letter-spacing: 0;
    }

}

@media screen and (max-width: 590px) {

    .home__specialProductList {
        width: 90%;
        height: max-content;
    }

    .home__specialProductList__title {
        height: 25px;
    }

    .home__specialProductList__list {
        grid-template-columns: repeat(2, 1fr);
        column-gap: 15px;
        row-gap: 15px;

        width: calc(100% - 10px);

        padding: 5px;

        overflow: hidden;
        overflow-x: unset;
    }

    .bannerSize__medium {
        width: 100%;
        height: calc(420px * 0.5);
    }

    .bannerSize__large {
        width: 100%;
        height: calc(560px * 0.4);
    }

    .home__banner__title {
        font-size: calc(32px * 0.4);
    }

    .home__banner__message,
    .home__banner__discount {
        height: calc(60px * 0.35);
    }

    .home__banner__message > p {
        font-size: calc(18px * 0.45);
        font-weight: 400;
        letter-spacing: 0;
    }

    .home__banner__discount > p {
        font-size: calc(22px * 0.6);
        font-weight: 800;
        letter-spacing: 2px;
    }

    .home__banner__timer {
        margin: calc(10px * 0.45) 0;
    }

    .home__banner__timer > p {
        margin: 0 0 calc(10px * 0.45) 0;

        font-size: calc(18px * 0.45);
        letter-spacing: 0;
    }

    .home__banner__timer__validTimer > p {
        font-size: calc(22px * 0.45);
        letter-spacing: 0;
        font-weight: 700;
    }

    .home__banner__linkBtn {
        width: calc(120px * 0.6);
        height: calc(30px * 0.6);

        font-size: calc(14px * 0.6);
        letter-spacing: 0;
    }
}