@media screen and (max-width: 1280px) {
    .searchMenu {
        min-width: 537px;

        overflow: hidden;
        position: absolute;
        left: -480px;
    }

    .searchBar {
        padding: 0 0 0 8px;
    }

}

@media screen and (max-width: 900px) {
    .searchMenu {
        display: none;
    }
}