.event {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 90%;
    max-width: 900px;
    height: 90%;
}

.event > h1 {
    font-size: 22px;
    font-weight: 300;
    text-align: justify;
    letter-spacing: 2px;
}