.topProductCard__dark {
    background-color: var(--color06);
}

.topProductCard__infoContainer__dark > p {
    color: var(--colorWhite);
}

.topProductCard__infoContainer__addToCartBtn__dark {
    background: var(--colorWhite);
}

.topProductCard__offerIndicator__dark {
    background: var(--backgroundGradient04);
}

.topProductCard__offerIndicator__message__dark {
    color: var(--colorWhite);
}