@media screen and (max-width: 1280px) {

}

@media screen and (max-width: 900px) {
    .mainProductCard {
        width: 180px;
        height: 370px;
    }

    .mainProductCard__productImage {
        width: 160px;
        height: 160px;
    }

    .mainProductCard__productInfoContainer {
        width: 160px;
        height: 130px;
    }

    .mainProductCard__productInfo > h2 {
        font-size: 14px;
        font-weight: 500;
    }

    .mainProductCard__productInfo > p {
        font-size: 18px;
    }

    .mainProductCard__notificationContainer__message {
        width: 160px;
        height: 100%;
    }

    .mainProductCard__notificationContainer__message > p {
        font-size: 14px;
    }

    .mainProductCard__messageContainer__message {
        font-size: 12px;
    }

    .mainProductCard__btnContainer {
        width: 160px;
    }

    .mainProductCard__btnContainer__iconContainer {
        left: 12.5px;
    }

    .mainProductCard__addToCartBtn {
        width: 100px;

        font-size: 14px;
    }
}

@media screen and (max-width: 370px) {
    .mainProductCard {
        width: 155px;
        height: 325px;
    }

    .mainProductCard__productImage {
        width: 135px;
        height: 135px;
    }

    .mainProductCard__productInfoContainer {
        width: 135px;
        height: 110px;
    }

    .mainProductCard__productInfo > h2 {
        font-size: 12px;
    }

    .mainProductCard__productInfo > p {
        font-size: 16px;
    }

    .mainProductCard__notificationContainer__message {
        width: 135px;
    }

    .mainProductCard__notificationContainer__message > p {
        font-size: 12px;
    }

    .mainProductCard__btnContainer {
        width: 135px;
    }

    .mainProductCard__btnContainer__iconContainer {
        left: 12.5px;
    }

    .mainProductCard__addToCartBtn {
        width: 80px;
        font-size: 12px;
    }
}