.navbar__section_01__hideIconButton__light > p {
    color: var(--colorBlack);
}

.navbar__section_02__light {
    background: var(--colorWhite);
}

.navbar__section_03__cart__indicator__light {
    background: var(--color03);
    color: var(--colorWhite);
}

@media screen and (max-width: 700px) {
    .navbar__light {
        background: var(--colorWhite);
    }
}