.navbar {
    background-color: transparent;

    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;

    width: 100%;
    height: 70px;

    z-index: 80;
}

.navbar__section_01 {
    background: var(--backgroundGradient07);

    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;

    width: max-content;
    height: 100%;

    padding: 0;

    margin: 0;
}

.navbar__section_01__logo {
    width: max-content;
    height: 90%;

    margin: 10px 10px;

    font-size: 22px;
    font-weight: 400;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.navbar__section_01__searchBtn {
    background-color: transparent;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 40px;
    height: 40px;

    border: none;
    outline: none;
    border-radius: 50%;

    padding: 0;
    margin: 0 10px;

    cursor: pointer;
    position: relative;
}

.navbar__section_01__searchBtn__sudoElement {
    background-color: var(--masterColor);

    width: 40px;
    height: 40px;

    border: none;
    outline: none;
    border-radius: 50%;
    /*box-shadow: var(--shadow_01);*/

    position: absolute;
    z-index: 1;
}

.navbar__section_02 {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;

    width: 150px;
    height: 60px;

    margin: 0 10px;
}

.navbar__section_03 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;

    width: 150px;
    height: 60px;

    padding: 0 20px;
}

.navbar__section_03__cartMenuBtn {
    display: flex;
    align-items: center;
    justify-content: space-between;

    background-color: transparent;
    color: var(--masterColor);

    width: max-content;
    height: 100%;

    border: none;
    outline: none;

    font-size: 14px;
    font-weight: 800;
    letter-spacing: 2px;

    cursor: pointer;
}

.navbar__section_03__cart__indicator {
    display: flex;
    align-items: center;
    justify-content: center;

    color: var(--masterColor);

    width: 16px;
    height: 16px;

    border: 2px solid var(--masterColor);
    border-radius: 50%;
    padding: 5px;
    margin: 0 5px;

    font-size: 12px;
    font-weight: 900;
    letter-spacing: 1px;
    text-align: center;

    cursor: none;
}