.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    flex-shrink: 0;

    width: 100%;
    max-width: 1200px;
    min-height: 70px;
    max-height: 70px;

    margin: 0;
    padding: 0;

    z-index: 80;

    position: relative;
    top: 0;
}

.navbar__section_01 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    flex-shrink: 0;

    width: max-content;
    height: 100%;

    padding: 0;
    margin: 0;

    position: absolute;
    left: 0;
}

.navbar__section_01__logo {
    width: max-content;
    height: 90%;

    margin: 10px 10px;

    font-size: 16px;
    font-weight: 900;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.navbar__section_01__searchBtn {
    background-color: transparent;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 40px;
    height: 40px;

    border: none;
    outline: none;
    border-radius: 50%;

    padding: 0;
    margin: 0 15px 0 0;

    cursor: pointer;
    position: relative;
}

.navbar__section_01__searchBtn__sudoElement1,
.navbar__section_01__searchBtn__sudoElement2 {
    width: 40px;
    height: 40px;

    border: none;
    outline: none;
    border-radius: 50%;

    position: absolute;
    z-index: 1;
}

.navbar__section_01__searchBtn__sudoElement1 {
    background: var(--backgroundGradient05);
}

.navbar__section_01__searchBtn__sudoElement2 {
    background: var(--colorBlack);
}

.navbar__section_02 {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;

    width: 150px;
    height: 60px;

    margin: 0 10px;

    position: absolute;
    left: calc((100% - 150px) / 2);
}

.navbar__section_02__line, .navbar__section_02__line__hide {
    background-color: var(--themeColor01);

    width: 30px;
    height: 4px;

    border-radius: calc(4px / 2);

    transition: all 0.2s ease-in-out;
}

.navbar__section_02__line__hide {
    background-color: transparent;
}

.navbar__section_03 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-shrink: 0;

    width: 100px;
    height: 100%;

    padding: 0 0;

    position: absolute;
    right: 0;
}

.navbar__section_03__cartMenuBtn {
    background-color: transparent;

    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-shrink: 0;

    width: max-content;
    height: 100%;

    border: none;
    outline: none;
    padding: 0 10px;

    cursor: pointer;
    overflow: hidden;
    position: relative;
}

.iconContainer {
    width: 30px;
    height: 30px;
    flex-shrink: 0;

    border-radius: 50%;
    z-index: 2;
}

.navbar__icon2 {
    width: 15px;
    height: 15px;
    flex-shrink: 0;

    border-radius: 50%;

    position: absolute;
    z-index: 1;
    top: -17px;
    left: 13px;
}

.navbar__section_03__cart__indicator {
    background: var(--backgroundGradient05);

    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;

    color: var(--colorWhite);

    width: 16px;
    height: 16px;

    border-radius: 50%;
    padding: 5px;
    margin: 0 5px;

    font-size: 14px;
    font-weight: 400;
    letter-spacing: 1px;
    text-align: center;

    cursor: none;
}