.navbar {

    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    flex-shrink: 0;

    width: 570px;
    height: 70px;

    margin: 0;
    padding: 0;

    z-index: 80;

    position: relative;
    top: 0;
}

.navbar__section_01 {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 60px;
    width: 60px;

    padding: 0;
    margin: 0;
}

.navbar__section_01__autoHideIcon {
    background: transparent;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 50px;
    height: 50px;

    border: none;
    outline: none;
    border-radius: 50%;

    cursor: pointer;

    overflow: hidden;
}
.navbar__section_01__autoHideIcon > img {
    width: 70%;
    height: 70%;

    transform: rotate(90deg);

    object-fit: contain;
    object-position: center;
}


.navbar__section_02 {
    background: var(--colorWhite);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;

    width: 430px;
    height: 50px;

    margin: 0;

    border-radius: var(--borderRadius2);
    box-shadow: var(--shadow_02);

    position: relative;
}

.navbar__section_02__line, .navbar__section_02__line__hide {
    background: var(--backgroundGradient01);
    background-size: 200% 200%;
    -webkit-animation: gradient 1s ease infinite;
    animation: gradient 1s ease infinite;

    width: 40px;
    height: 5px;

    border-radius: calc(5px / 2);

    transition: all 0.2s ease-in-out;

    position: absolute;
    bottom: 10px;
}

.navbar__section_02__line__hide {
    background: transparent;
}

.navbar__section_03 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-shrink: 0;

    width: 60px;
    height: 60px;

    padding: 0 0;
}

.navbar__section_03__cartMenuBtn {
    background-color: transparent;

    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-shrink: 0;

    width: max-content;
    height: 50px;

    border: none;
    outline: none;
    padding: 0 10px;

    cursor: pointer;
    overflow: hidden;
    position: relative;
}

.iconContainer {
    width: 40px;
    height: 40px;
    flex-shrink: 0;

    border-radius: 50%;
    z-index: 1;
}

.iconContainer > img {
    width: 70%;
    height: 70%;

    object-fit: contain;
    object-position: center;
}

.navbar__section_03__cart__indicator {
    background: var(--color03);

    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;

    color: var(--colorWhite);

    width: 14px;
    height: 14px;

    border-radius: 50%;
    padding: 5px;
    margin: 0;

    font-size: 12px;
    font-weight: 400;
    letter-spacing: 1px;
    text-align: center;

    z-index: 10;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}