@media screen and (max-width: 900px) {
    .navbar__section_01 {
        display: none;
    }
    .navbar__section_02 {
        display: none;
    }

    .navbar__section_03 {
        justify-content: space-between;
        width: 100%;
    }

    .navbar__section_03__cartMenuBtn {
        display: none;
    }

    .navbar__section_03__themeSwitcher {
        margin: 0 10px;
    }
}