.mainProductCard {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    flex-shrink: 0;

    width: 240px;
    height: 370px;

    border-radius: var(--borderRadius2);
    box-shadow: var(--shadow_01);

    overflow: hidden;
}

.mainProductCard__productImage {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;

    width: 240px;
    height: 240px;

    margin: 0 0 0 0;

    overflow: hidden;
    position: relative;
}

.mainProductCard__messageContainer {
    background: var(--backgroundGradient10);
    background-size: 200% 200%;
    -webkit-animation: gradient 3s ease infinite;
    animation: gradient 3s ease infinite;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 40%;
    height: 30px;

    border-radius: 0 var(--borderRadius1) 0 0;

    position: absolute;
    bottom: 0;
    left: 0;
}

.mainProductCard__messageContainer > p {
    color: var(--colorWhite);

    width: calc(100% - 10px);
    height: max-content;

    padding: 0 5px;
    margin: 0;

    font-size: 16px;
    font-weight: 700;
    text-transform: capitalize;
}

.mainProductCard__productImage > img {
    width: 100%;
    height: 100%;

    object-position: center;
    object-fit: cover;
}

.mainProductCard__productInfo {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    flex-shrink: 0;

    width: 100%;
    height: calc((100% - 240px) / 2);
}

.mainProductCard__productInfo > h2 {
    width: calc(100% - 10px);
    height: max-content;

    padding: 0 0 0 10px;
    margin: 0 0 0 0;

    font-size: 16px;
    font-weight: 700;
    text-align: left;
}

.mainProductCard__productInfo__productPrice {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    gap: 10px;
    flex-shrink: 0;

    width: calc(100% - 10px);
    height: max-content;

    padding: 0 0 0 10px;
}

.mainProductCard__productInfo__productPrice > p {
    width: max-content;
    height: max-content;

    padding: 0 0 0 0;
    margin: 0 0 0 0;

    text-align: left;
}

.mainProductCard__productInfo__productPrice > p > small {
    color: var(--color01);
}

.price__big {
    font-size: 24px;
    font-weight: 800;
}

.price__small {
    font-size: 14px;
    font-weight: 500;
}


.mainProductCard__btnContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;

    width: 100%;
    height: calc((100% - 240px) / 2);

    margin: 0;
    padding: 0;

    overflow: hidden;
    position: relative;
}

.mainProductCard__addToCartBtn {
    display: flex;
    align-items: center;
    justify-content: center;

    width: calc(100% - 20px);
    height: calc(100% - 20px);

    margin: 0;
    padding: 0;

    border: none;
    outline: none;

    border-radius: var(--borderRadius2);

    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    text-align: center;

    cursor: pointer;
}