.mainProductCard__light {
    background: var(--colorWhite);
}

.mainProductCard__productInfo__light > h2 {
    color: var(--colorBlack);
}

.mainProductCard__productInfo__light > p {
    color: var(--colorBlack);
}

.mainProductCard__productInfo__productPrice__light {
    color: var(--colorBlack);
}

.price__small__light {
    color: var(--colorBlackTransparent50);
}